/*CSS RESET*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*STYLE*/

body{
	background-image: url(image/texture.jpg);
}

.logo img{
	position: relative;
	height: 100px;
	margin-left: 20px;
	margin-top: 10px;
}

nav ul li{

display: inline-block;
padding: 7px;
border-radius: 20px;
}

.navbar{
	margin-left: 50px;
	margin-top: 15px;
}

ul li a{
	text-decoration: none;
	color: #000;
	border: 1px solid;
	border-radius: 30px;
	padding: 10px;
	background-color: ;
}

li a:hover{
	background-color: #00FFFF;
	color: #000;
}

.main p{
	margin-left: 5px;
	padding-top: 35px;
	margin-bottom: 10px;
}

.main {
	margin-to
}

.area img{
	position: absolute;
	margin-left: 950px;
	height: 400px;
	margin-bottom: 200px;
}

.footer{
	text-align: center;
}

.content img{
	height: 200px;
	text-align: center;
}

.cuplikan{
	margin-top: 200px;
	margin-bottom: 20px;
	font-size: 20px;
	text-align: center;
}

/*Prosedur*/

.judul h1{
	font-size: 35px;
	margin-top: 20px;
	color: 	#FFFF00;
	font-weight: bold;
	font-family: Bahnschrift SemiBold;
}

.judul{
	text-align: center;
}

.detail p{
	margin-top: 20px;
	margin-left: 20px;
	font-family: Comic Sans MS;
	color: 	

}

/*Pendaftaran*/


.daftar{
	text-align: center;
}

input .submit{
	padding: 20px;
}

.daftar h1{
	font-size: 35px;
	margin-top: 20px;
	color: 	#FFFF00;
	font-weight: bold;
	font-family: Bahnschrift SemiBold;
}

.form{
	text-align: center;
	margin-top: 20px;
}

input{
		padding-top: 5px;
}

select p{
	margin-bottom: 10px;
}

/*Kontak*/

.fmat img{
	height: 300px;
	margin-top: 50px;
	margin-left: 20px;
}

.alamat p{
	position: absolute;
	margin-left: 700px;
	margin-top: 100px;
}



.ig img{
	width: 150px;
	margin-left: 250px;
	margin-bottom: 50px;
}

.fb img{
	width: 180px;
	margin-bottom: 40px;
}

.kami {
	font-size: 40px;
	margin-top: 20px;
	text-align: center;
	color: 	#FFFF00;
}

.alamat p {
	font-size: 20px;
	margin-top: 60px;
}

.alamat p a{
	list-style: none;
	text-decoration: none;
	color: #000;
}